<div class="container">
    <h1>{{ pageTitle }}</h1>
    <hr>
    <div class = "col-md-4">
        <br>
        <form [formGroup]="profileForm" autocomplete="off" (ngSubmit)="saveProfile(profileForm.value)" novalidate>
        <div class="form-group" [ngClass]="{'error': !validateFirstName() }">
                <label for="firstname">First Name </label>
                <em *ngIf="!validateFirstName()" class="pull-right text-danger"><small>Required</small></em>
                <input type="text" formControlName="firstName" name="firstName" id="firstName" class="form-control" placeholder="First Name...">
            </div>

            <div class="form-group" [ngClass]="{'error': !validateLastName() }">
                <label for="lastname">Last Name </label>
                <em *ngIf="!validateLastName()" class="pull-right text-danger"><small>Required</small></em>
                <input type="text" formControlName="lastName" name="lastName" id="lastName" class="form-control" placeholder="Last Name...">
            </div>
            
            <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>&nbsp;
            <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </form>
    </div>
</div>