<div class="container">
    <h1>{{ pageTitle }}</h1>
    <hr>
    <div class = "col-md-4">
        <br><br>
        <form [formGroup]="profileForm" autocomplete="off" novalidate>
            <div class="form-group">
                <label for="firstname">First Name </label>
                <input type="text" formControlName="firstname" name="firstname" id="firstname" class="form-control">
            </div>

            <div class="form-group">
                <label for="lastname">Last Name </label>
                <input type="text" formControlName="lastname" name="lastname" id="lastname" class="form-control">
            </div>
            
            <button type="submit" class="btn btn-primary" id="saveBtn">Save</button>&nbsp;
            <button type="button" class="btn btn-secondary">Cancel</button>
        </form>
    </div>
</div>